# Stats Dashboard
frontend stats
    bind *:8404
    acl from_localhost src 127.0.0.1/8
    acl from_docker src 172.16.0.0/12
    http-request deny unless from_localhost or from_docker
    stats enable
    stats uri /stats
    stats realm HAProxy\ Statistics
    #stats auth <user>:<pass>
    stats refresh 10s
    stats show-legends
    stats admin if TRUE
    log global

# systemd
#global
#    stats socket /var/run/haproxy.sock mode 666 level admin

# docker
#   stats socket /var/lib/haproxy.sock mode 666 level admin


# loopback port
global
    stats socket 0.0.0.0:16669 mode 666 level admin
