# Nginx Hello World Frontend
frontend nginx_http
    bind *:8080
    mode http
    default_backend nginx_servers
    option httplog
    log global

# Nginx Hello World Backend
# In Docker bridge networking, reach nginx by service DNS name and container port.
backend nginx_servers
    mode http
    balance roundrobin
    option httpchk GET / HTTP/1.1
    http-check send hdr Host localhost
    http-check expect status 200
    default-server inter 2s fall 3 rise 2
    log global
    
    server nginx1 nginx-helloworld:80 check
