# Nginx Hello World Frontend
frontend nginx_http
    bind *:8080
    mode http
    default_backend nginx_servers
    option httplog
    log global

# Nginx Hello World Backend
# When HAProxy uses network host mode, access nginx via localhost:8081 (the docker port)
backend nginx_servers
    mode http
    balance roundrobin
    option httpchk GET / HTTP/1.1
    http-check send hdr Host localhost
    http-check expect status 200
    default-server inter 2s fall 3 rise 2
    log global
    
    server nginx1 127.0.0.1:8081 check
